In [2]:
import pandas as pd

In [3]:
Load_file = "purchase_data.csv"
purchase_data = pd.read_csv(Load_file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# Player count 
Num_of_players = pd.DataFrame([len(purchase_data["SN"].unique())],columns=["Total Players"])
Max_age = purchase_data["Age"].max()
Max_age

45

In [5]:
Unique_tiems=len(purchase_data["Item ID"].unique())
Avg_purchase_price= '${:.2f}'.format((purchase_data["Price"].mean()))
Total_purchases = len(purchase_data["Purchase ID"])
Total_revenue ='${:,}'.format(purchase_data["Price"].sum())
Summary_table_1 =pd.DataFrame({"Number of Unique Items":[Unique_tiems]
                             ,"Average Price":[Avg_purchase_price]
                             ,"Number of Purchases":[Total_purchases]
                             ,"Total Revenue":[Total_revenue]})
Summary_table_1

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [6]:
M_grouped_data = purchase_data.loc[purchase_data["Gender"]=="Male",:].groupby(["Gender","SN"])
Count_MP= M_grouped_data["Gender"].unique().count()
F_grouped_data = purchase_data.loc[purchase_data["Gender"]=="Female",:].groupby(["Gender","SN"])
Count_FP= F_grouped_data["Gender"].unique().count()
O_grouped_data = purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed",:].groupby(["Gender","SN"])
Count_OP= O_grouped_data["Gender"].unique().count()

Total_P =Count_MP+Count_FP+Count_OP

Male_Percent='{:.2%}'.format((Count_MP/Total_P))
Female_Percent= '{:.2%}'.format((Count_FP/Total_P))
Other_Percent= '{:.2%}'.format((Count_OP/Total_P))

summary_table_2 =pd.DataFrame({
                "Total Count":{"Male":Count_MP,"Female":Count_FP,"Other / Non-Disclosed":Count_OP},                
                "Percentage of Players":{"Male":Male_Percent,"Female":Female_Percent,"Other / Non-Disclosed":Other_Percent}})
summary_table_2

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [7]:
Male_P_count=purchase_data["Gender"].loc[purchase_data["Gender"]=="Male"].count()
Female_P_count=purchase_data["Gender"].loc[purchase_data["Gender"]=="Female"].count()
Other_P_count=purchase_data["Gender"].loc[purchase_data["Gender"]=="Other / Non-Disclosed"].count()

Male_avg_price='${:.2f}'.format(purchase_data["Price"].loc[purchase_data["Gender"]=="Male"].mean())
Female_avg_price='${:.2f}'.format(purchase_data["Price"].loc[purchase_data["Gender"]=="Female"].mean())
Other_avg_price='${:.2f}'.format(purchase_data["Price"].loc[purchase_data["Gender"]=="Other / Non-Disclosed"].mean())

Total_M_purchase =purchase_data["Price"].loc[purchase_data["Gender"]=="Male"].sum()
Total_M_purchase_f='${:,.2f}'.format(Total_M_purchase)
Total_F_purchase =purchase_data["Price"].loc[purchase_data["Gender"]=="Female"].sum()
Total_F_purchase_f='${:.2f}'.format(Total_F_purchase)
Total_O_purchase =purchase_data["Price"].loc[purchase_data["Gender"]=="Other / Non-Disclosed"].sum()
Total_O_purchase_f='${:.2f}'.format(Total_O_purchase)

M_Avg_purchase_Total ='${:.2f}'.format(Total_M_purchase/Count_MP)
F_Avg_purchase_Total ='${:.2f}'.format(Total_F_purchase/Count_FP)
O_Avg_purchase_Total ='${:.2f}'.format(Total_O_purchase/Count_OP)

summary_table_3 =pd.DataFrame({
    "Purchase Count":{"Gender":" ","Male":Male_P_count,"Female":Female_P_count,"Other / Non-Disclosed":Other_P_count},
    "Average Purchase Price":{"Gender":" ","Male":Male_avg_price,"Female":Female_avg_price,"Other / Non-Disclosed":Other_avg_price},
    "Total Purchase Value":{"Gender":" ","Male":Total_M_purchase_f,"Female":Total_F_purchase_f,"Other / Non-Disclosed":Total_O_purchase_f},
    "Avg Total Purchase per Person":{"Gender": " ","Male":M_Avg_purchase_Total,"Female":F_Avg_purchase_Total,"Other / Non-Disclosed":O_Avg_purchase_Total}
    })
summary_table_3

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [26]:
bins = [0,9,14,19,24,29,34,39,50,]
group_labels=["<10", "10-14", "15-19","20-24","25-29","30-34","35-39","40+"]
#Age_binning = purchase_data[["Purchase ID","Price","Age"]]
#Age_binning["Age Category"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
purchase_data["Age Category"]=pd.cut(purchase_data["Age"], bins, labels=group_labels)

In [25]:
#purchase count

#Age_group_count= purchase_data.loc[]
purchase_data["Age Category"]= purchase_data["Age Category"].astype(object)

Age_group_9 = purchase_data.loc[purchase_data["Age Category"] == "<10", :]
Age_group_9 =Age_group_9["SN"].unique()
Age_group_10 = purchase_data.loc[purchase_data["Age Category"]=="10-14", :]
Age_group_10 =Age_group_10["SN"].unique()
Age_group_15 = purchase_data.loc[purchase_data["Age Category"]=="15-19", :]
Age_group_15 =Age_group_15["SN"].unique()
Age_group_20 = purchase_data.loc[purchase_data["Age Category"]=="20-24", :]
Age_group_20 =Age_group_20["SN"].unique()
Age_group_25 = purchase_data.loc[purchase_data["Age Category"]=="25-29", :]
Age_group_25 =Age_group_25["SN"].unique()
Age_group_30 = purchase_data.loc[purchase_data["Age Category"]=="30-34", :]
Age_group_30 =Age_group_30["SN"].unique()
Age_group_35 = purchase_data.loc[purchase_data["Age Category"]=="35-39", :]
Age_group_35 =Age_group_35["SN"].unique()
Age_group_40 = purchase_data.loc[purchase_data["Age Category"]=="40+", :]
Age_group_40 =Age_group_40["SN"].unique()

Purchase_count_list =[len(Age_group_9),len(Age_group_10),len(Age_group_15),len(Age_group_20),len(Age_group_25),len(Age_group_30)
                     ,len(Age_group_35),len(Age_group_40)]

Total =0
for count in Purchase_count_list:
    Total +=count

Percent_Purchase_count=[]
element=0.0
for count in Purchase_count_list:
    element ="{0:.2%}".format(count/Total)
    Percent_Purchase_count.append(element)
    
Summary = {"Total Count":Purchase_count_list,
      "Percentage of Players":Percent_Purchase_count}
Summary_table_4 =pd.DataFrame(Summary)
Summary_table_4

   Total Count Percentage of Players
0           17                 2.95%
1           22                 3.82%
2          107                18.58%
3          258                44.79%
4           77                13.37%
5           52                 9.03%
6           31                 5.38%
7           12                 2.08%

In [131]:
Purchase_Analysis=purchase_data.groupby("Age Category")

Purchase_count=pd.DataFrame(Purchase_Analysis["Age"].count())
Purchase_count_list=[23,28,136,365,101,73,41,13]

#Average purchase Price
Avg_Purchase=pd.DataFrame(Purchase_Analysis["Price"].mean()).style.format('${0:,.2f}')
Avg_Purchase_list=[3.353478,2.956429,3.035956,3.052219,2.90099,2.931507,3.601707,2.941538]
formatted_avg_purchase = ['${:,.2f}'.format(price) for price in Avg_Purchase_list]

#total purchase price per group
Total_Purchase_value=pd.DataFrame(Purchase_Analysis["Price"].sum())
Total_Purchase=[77.13,82.78,412.89,1114.06,293,214,147.67,38.24]
formattedTotal_Purchase=['${:,.2f}'.format(tprice) for tprice in Total_Purchase]

#previously found Unique user count per age group
Purchase_count_list =[len(Age_group_9),len(Age_group_10),len(Age_group_15),len(Age_group_20),len(Age_group_25),len(Age_group_30)
                     ,len(Age_group_35),len(Age_group_40)]
#convert to interger list for calculating user avg total purchase per person
Total_users_per_group = [17, 22, 107, 258, 77, 52, 31, 12]

Avg_Total_purchase_Per_user =[]
for i in range(len(Total_Purchase)):
    Total_avg_per_user= '${:,.2f}'.format(Total_Purchase[i]/Total_users_per_group[i])
    Avg_Total_purchase_Per_user.append(Total_avg_per_user)

Summary_table_5 =pd.DataFrame({"Age Ranges":group_labels
      ,"Purchase Count":Purchase_count_list
      ,"Average Purchase Price":formatted_avg_purchase
      ,"Total Purchase Value":formattedTotal_Purchase
      ,"Avg Total Purchase per Person":Avg_Total_purchase_Per_user
                 })

Summary_table_5.set_index("Age Ranges", inplace= True)
Summary_table_5

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,17,$3.35,$77.13,$4.54
10-14,22,$2.96,$82.78,$3.76
15-19,107,$3.04,$412.89,$3.86
20-24,258,$3.05,"$1,114.06",$4.32
25-29,77,$2.90,$293.00,$3.81
30-34,52,$2.93,$214.00,$4.12
35-39,31,$3.60,$147.67,$4.76
40+,12,$2.94,$38.24,$3.19

In [ ]:
Purchasing Analysis (Age)
 
Bin the purchase_data data frame by age


Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


Create a summary data frame to hold the results


Optional: give the displayed data cleaner formatting


Display the summary data frame